---
import Layout from '../layouts/BlogPost.astro';
import BaseHead from '../components/BaseHead.astro';
import myForm from '../components/myForm.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts.js';
---

<Layout
	title="About Me"
	description="My Blog website."
	pubDate={new Date('Janurary 07 2023')}
	updatedDate={new Date('February 07 2023')}
	heroImage="https://source.unsplash.com/random"
>
<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
    <body>
		<div class="port">
			<h2 class="text-center">Email</h2>
			<p class="text-center">
				<a href="mailto:gunnerbrunette1992@gmail.com">Email Me</a>
			</p>
		</div>
		<myForm />
		<main id="port">
			<section>
                <h2>So much possibility with the <span class="red">internet!</span></h2>
                <p>Have you ever needed a website to try to get the word out about something?! But thought you couldnt afford it?</p>
                <p>Well, you can! I use <span class="red">HTML</span> and <span class="green">CSS</span> and starting to learn <span class="yellow">Java-Script</span> as well. </p>
                <p>Check out my site I made my dad <a href="https://jesksr-storage.cyou">CLICK-ME</a> to see what I can do for you!</p>
                <p>Or check out my <a href="/about">portfolio</a> to see what I have done so far!</p>
                <p>if this is boring you then be sure to contact me so we can get down to business!</p>
                <p>Or if you just want to say hi, feel free to <a href="/about">contact</a> me!</p>
                <p>I am always looking for more projects!</p>
            </section>
			<h2>Portfolio</h2>
			<section>
				<p>Here are some of my projects!</p>
				<p>My first project was a simple <span class="red">HTML</span> and <span class="green">CSS</span> site for my dad.</p>
				<p>It was a simple site with a few pages and a contact form. But I added a lil JS for the slider. I will continue to add more as i go.</p>
				<iframe src="https://jesksr-storage.cyou">https//:jesksr-storage.cyou</iframe>
				<p>Feel free to click through it as much as you want. its even got its own domain name.</p>
			</section>
		</main>		
	</body>
</html>
</Layout>
