---
import Layout from '../layouts/BlogPost.astro';
import BaseHead from '../components/BaseHead.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts.js';
---

<Layout
	title="About Me"
	description="My Blog website."
	pubDate={new Date('Janurary 07 2023')}
	updatedDate={new Date('February 07 2023')}
	heroImage="https://source.unsplash.com/random"
>
<!DOCTYPE html>
<html lang="en">
    <head>
		<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
    <body>
		<main id="port">
			<h2>Portfolio</h2>
			<section>
				<p>Here are some of my projects!</p>
				<p>My first project was a simple <span class="red">HTML</span> and <span class="green">CSS</span> site for my dad.</p>
				<p>It was a simple site with a few pages and a contact form. But I added a lil JS for the slider. I will continue to add more as i go.</p>
				<iframe src="https://jesksr-storage.cyou">https//:jesksr-storage.cyou</iframe>
				<p>Feel free to click through it as much as you want. its even got its own domain name.</p>
			</section>
		</main>		
	</body>
</html>
</Layout>
