---
import Layout from '../layouts/Layout.astro';
import	'../styles/style.css';

---


<Layout>
	<h2>BACK blogging soon will be talking about my journey with learning about 3D printing!! Ppl can even win some of the stuff I print lol...</h2>
	<p>I have a new site and heres a link itll be getting more features and whats not its <a href="http://gunnerbrunette.com/myCMS/">http://gunnerbrunette.com/myCMS/</a> if you want to just type it in the domain name will change some but I will post that info on there as I know more!!</p>
</Layout>

	
	