---
import Layout from '../layouts/Layout.astro';
import	'../styles/style.css';
---

<Layout>
	<h1>Home</h1>
	<div class="row">
		<h3>Next Blog will be about Brave Browser & Uphold wallet!! Will have a link for uphold wallet thats a affiliate link! Coming next week will have more regular schedule soon!</h3>
	</div>
</Layout>
	
	