---
import Layout from '../layouts/Layout.astro';
import	'../styles/style.css';

---


<Layout>
	<h2>Taking a Break On blogs for a week or 2 gonna be at it like a crack addict soon lol...</h2>
</Layout>

	
	