---
import Layout from '../layouts/Layout.astro';
import	'../styles/style.css';

---


<Layout>
	<h2>Will be back blogging soon will be talking about my journey with learning about 3D printing!! Ppl can even win some of the stuff I print lol...</h2>
</Layout>

	
	