---
import Layout from '../layouts/Layout.astro';
import	'../styles/style.css';
---

<Layout>
	<h1>Home</h1>
	<h6>New Blog Will be posted on Wednesday 03/15/2023 topic will probaly be not crypto related actually lol
	</h6>
</Layout>
	
	