---
import Layout from '../layouts/Layout.astro';
import	'../styles/style.css';
---

<Layout>
	<h1>Home</h1>
	<div class="row">
		<h3>Willing be putting the affiliate Link Here!! forgot to put it in the blog lol!</h3>
		<h4><a href="https://wallet.uphold.com/signup?referral=68ad0c9575">Click Here for a referal to Uphold!!</a></h4>
	</div>
</Layout>
	
	