---
import Layout from '../layouts/Layout.astro';
import	'../styles/style.css';
---

<Layout>
	<h1>Home</h1>
	<div class="row">
		<h3>NEW STUFF ALWAYS COMING!! KEEP YOUR EYES PEELED LOL</h3>
	</div>
</Layout>
	
	