---
import Layout from '../layouts/Layout.astro';
import	'../styles/style.css';
---

<Layout>
	<h1>Home</h1>
	<div class="row">
		<div class="port">
			<h2 class="text-center">Email</h2>
			<p class="text-center">
				<a href="mailto:gunnerbrunette1992@gmail.com">Email Me</a>
			</p>
		</div>
	</div>
</Layout>
	
	