---
import Layout from '../layouts/Layout.astro';
import	'../styles/style.css';
---

<Layout>
	<h1>Home</h1>
	<h6>Check Out my blog!!
		I will have a new one out probaly before the weekend is over!
	</h6>
</Layout>
	
	