---
import Layout from '../layouts/Layout.astro';
import	'../styles/style.css';
---

<Layout>
	<h1>Home</h1>
	<div class="row">
		<h3>Willing be putting the affiliate Link Here!! forgot to put it in the blog lol!</h3>
	</div>
</Layout>
	
	