<h5>Need a website? Or wanna tell me what to blog about?</h5>
<p>there is a form for just that..</p>
<form name="contact" netlify >
	<label> Name:<br><input placeholder="what you want me to call you"></label><br>
	<label> email to reach you:<br><input placeholder="Your Email"></label><br>
	<label>Your question? Comment? Or concern?</label><br><textarea placeholder="Or just wanna tell me how great I am doing?"></textarea><br>
	<button method="Submit" onclick="mailto='gunnerbrunette1992@gmail.com' " mailto="gunnerbrunette1992@gmail.com">Send</button>

</form>
